In [2]:
import pandas as pd
import numpy as np

In [3]:
data=pd.read_csv('iris.csv')

In [4]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
X=data.iloc[:,1:5]
y=data.Species

In [8]:
X.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y)

In [13]:
y_test

49         Iris-setosa
32         Iris-setosa
116     Iris-virginica
120     Iris-virginica
12         Iris-setosa
118     Iris-virginica
14         Iris-setosa
59     Iris-versicolor
132     Iris-virginica
109     Iris-virginica
7          Iris-setosa
31         Iris-setosa
82     Iris-versicolor
113     Iris-virginica
101     Iris-virginica
71     Iris-versicolor
9          Iris-setosa
58     Iris-versicolor
92     Iris-versicolor
48         Iris-setosa
57     Iris-versicolor
110     Iris-virginica
53     Iris-versicolor
125     Iris-virginica
134     Iris-virginica
90     Iris-versicolor
145     Iris-virginica
13         Iris-setosa
144     Iris-virginica
0          Iris-setosa
46         Iris-setosa
114     Iris-virginica
137     Iris-virginica
122     Iris-virginica
115     Iris-virginica
65     Iris-versicolor
69     Iris-versicolor
88     Iris-versicolor
Name: Species, dtype: object

In [7]:
from sklearn.linear_model import LogisticRegression

LR=LogisticRegression()
LR.fit(X_train,y_train)
y_hat=LR.predict(X_test)

/Users/dms/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [8]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_hat))

                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        11
Iris-versicolor       1.00      0.93      0.96        14
 Iris-virginica       0.93      1.00      0.96        13

       accuracy                           0.97        38
      macro avg       0.98      0.98      0.98        38
   weighted avg       0.98      0.97      0.97        38

In [9]:
##  saving the model
import pickle

In [10]:
pickle.dump(LR,open('lr.pkl','wb'))